{% extends "layout.html" %}

{% load url from future %}
{% load superdesk_tags %}

{% block content %}
<section>
    {% items class="icls:composite" limit=34 %}
    <article>
        <p>{{ item.slugline }} | {{ item.versionCreated|date:"H:i d/m/Y" }}</p>
        <h2><a href="{% url 'item' guid=item.guid %}" title="{{ item.headline }}">{{ item.headline }}</a></h2>

        {% package_items role="main" class="icls:text" limit=1 as texts %}
        {% for text in texts %}
        <div class="lead">
            {% inline_content item=text as content %}
            {{ content|safe|lead|safe }}
        </div>
        {% endfor %}

        {% package_items role="main" class="icls:picture" limit=1 as pictures %}
        {% for picture in pictures %}
        <figure class="fig">
            {% remote_content "rend:viewImage" item=picture as content %}
            {% if content %}
            <a href="{% url 'item' guid=item.guid %}" title="{{ item.headline }}"><img src="{{ content|media_url }}" alt="{{ content.headline }}" /></a>
            <figcaption class="fig-copy">&copy; {{ item.creditline }}</figcaption>
            {% endif %}
        </figure>
        {% endfor %}
    </article>
    {% enditems %}
</section>
{% endblock %}
