{% extends "layout.html" %}

{% load url from future %}
{% load superdesk_tags %}

{% block title %}{{ item.headline }}{% endblock %}

{% block content %}
<article>
<p>
    <a href="{% url 'index' %}">Index</a> / {{ item.slugline }} | {{ item.versionCreated|date:"H:i m/d/Y" }}</p>
    <h1>{{ item.headline }}</h1>

    {# package main pictures #}
    {% package_items role="main" class="icls:picture" as pictures %}
    {% if pictures %}
    <div id="pictures" class="carousel">
        <div class="carousel-inner">
            {% for picture in pictures %}
            <figure class="item">
                {% remote_content "rend:viewImage" item=picture as content %}
                {% if content %}<img src="{{ content|media_url }}" alt="{{ content.headline }}" />{% endif %}
            </figure>
            {% endfor %}
        </div>
        <ol class="carousel-indicators">
            {% for picture in pictures %}
            <li data-target="#pictures" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}></li>
            {% endfor %}
        </ol>
    </div>
    {% endif %}

    {# picture item #}
    {% remote_content "rend:viewImage" as content %}
    {% if content %}
    <div id="pictures">
    <figure>
        <img src="{{ content|media_url }}" alt="{{ content.headline }}" />
    </figure>
    </div>
    {% endif %}

    <address>{% if item.byline %}{{ item.byline }} {% endif %}&copy; {{ item.creditline }}</address>

    {# package main text #}
    {% package_items role="main" class="icls:text" as texts %}
    {% for text in texts %}
    <div class="content">
        {% inline_content item=text as content %}
        {{ content|safe }}
    </div>
    {% endfor %}

    {# text item #}
    {% inline_content as content %}
    {% if content %}
    <div class="content">
        {{ content|safe }}
    </div>
    {% endif %}
</article>

{% package_items role="sidebars" as related %}
{% if related %}
<aside>
    <h3>Related</h3>
    <ul>
        {% for rel in related %}
        <li><a href="{% url 'item' guid=rel.guid %}">{{ rel.headline }}</a></li>
        {% endfor %}
    </ul>
</aside>
{% endif %}

{% endblock %}

{% block script %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ "bootstrap/js/bootstrap.min.js"|static_url }}"></script>
<script>
    $('.item').first().addClass('active');
    $('.carousel').carousel();
</script>
{% endblock %}
